# UTILIZANDO A LINGUAGEM SQL NO JUPYTER NOTEBOOK

### Importando as bibliotecas necessárias

In [ ]:
import pandas as pd
import sqlite3

É necessário instalar a biblioteca ipython-sql. Caso não tenha essa biblioteca instalada, é possível fazer a instalação por meio do seguinte comando:

**pip install ipython-sql**

### Criando um dataframe de exemplo

In [ ]:
df = pd.DataFrame({'name': ['Oliver', 'Alice', 'John', 'Juan', 'Mary'], 
                  'age': [23, 44, 35, 24, 38], 
                  'city': ['Miami', 'Buenos Aires', 'Miami', 'Paris', 'Rio de Janeiro']})

df

### Criando uma conexão

In [ ]:
connection = sqlite3.connect('sql_in_python_tutorial.db')

In [ ]:
df.to_sql('peoples', connection)

### Utilizando a linguagem SQL

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///sql_in_python_tutorial.db

In [ ]:
%%sql

-- Mostrando a tabela completa

select * from peoples

In [ ]:
%%sql

-- Contando o número de linhas

select count(*) from peoples

In [ ]:
%%sql 

-- Soma das idades

select sum(age) as 'age_sum' from peoples

In [ ]:
%%sql 

-- Considerando apenas os residentes em Miami

select * from peoples 
where city = 'Miami'